button{
  margin-right: 10px;
}
.subscribe-button{
  background-color: rgb(207, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.subscribe-button:hover{
  opacity: 0.75;
}
.subscribe-button:active{
  opacity: 0.5;
}

.join-button{
  padding: 9px 15px;
  font-size: 17px;
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(6, 95, 212);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.join-button:hover{
  background-color: rgb(6, 95, 212);
  color: white;
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 90px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}